---
import Container from "@components/container.astro";
---

<Container>
  <div class="flex flex-col gap-16 mx-auto max-w-4xl mt-16">
    <section>
      <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-4">
        About DevArmor
      </h2>
      <p class="text-gray-600 dark:text-gray-100">
        DevArmor is a venture-backed startup founded by repeat entrepreneurs and
        security veterans with successful exits. Backed by top-tier investors
        and advised by leaders from Sierra.ai, Databricks, Netflix, Mozilla, and
        Semgrep, we're reimagining how secure software gets built.
        <br /><br /> As an Okta executive puts it:
        <blockquote
          class="border-l-4 border-blue-500 pl-4 italic text-gray-500 dark:text-gray-100">
          "DevArmor bakes security into the earliest design decisions—exactly
          what our industry needs to stay ahead. The team brings deep experience
          and real empathy for developers. I’m excited to support their mission
          to make security a first-class part of building software."
          <div class="mt-4 flex items-center gap-3">
            <!-- <img
              src="/suchit-agarwal-profile-picture.jpeg"
              alt="Suchit Agarwal"
              class="w-12 h-12 rounded-full object-cover"
            /> -->
            <div>
              <p class="font-semibold text-gray-800 dark:text-white">
                Suchit Agarwal
              </p>
              <p class="text-sm text-gray-500 dark:text-gray-400">
                Director of Engineering at Okta
              </p>
            </div>
          </div>
        </blockquote>
      </p>
    </section>

    <section>
      <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-4">
        Why Join DevArmor?
      </h2>
      <ul
        class="list-disc list-inside space-y-2 text-gray-600 dark:text-gray-100">
        <li>
          <strong>Tackle real challenges</strong>: Help solve the hard problem
          of scaling security without slowing down dev teams.
        </li>
        <li>
          <strong>Work with the best</strong>: Join a small, expert team in
          security, AI, and dev tools.
        </li>
        <li>
          <strong>Own your work</strong>: Shape the product, roadmap, and
          culture from day one.
        </li>
        <li>
          <strong>Build the future</strong>: Work at the frontier of AI, code
          analysis, and secure-by-design systems.
        </li>
        <li>
          <strong>We’ve got your back</strong>: Competitive pay, great benefits,
          and flexible work.
        </li>
      </ul>
    </section>
  </div>
</Container>
