---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-4 md:px-10 md:py-10 mt-10 mx-auto max-w-3xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-3xl md:text-5xl tracking-tight">
    Secure-by-Design at Scale.
  </h2>
  <p class="text-slate-300 mt-3 text-md md:text-lg">
    Increase security coverage. <br />Save time by reducing manual reviews and
    meetings.
  </p>
  <div class="flex mt-4">
    <a
      href="/contact"
      class="px-4 py-2 rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 bg-[#f44b88] hover:bg-[#e03a77] text-white"
      >Get Early Access</a
    >
  </div>
</div>
