---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-4 md:px-10 md:py-10 mt-10 mx-auto max-w-3xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-3xl md:text-5xl tracking-tight">
    Secure-by-Design at Scale.
  </h2>
  <p class="text-slate-300 mt-3 text-md md:text-lg">
    Increase security coverage. <br>Save time by reducing manual reviews and meetings.
  </p>
  <div class="flex mt-4">
    <Link href="/contact" style="inverted">Get Early Access</Link>
  </div>
</div>
