---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Bring Your Own Workflow",
    description:
      "DevArmor works with your existing tools and workflows. Keep using your favorite frameworks, libraries, and tools.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Fix with a Single Click",
    description:
      "DevArmor suggests fixes to security vulnerabilites and helps you apply them with a single click.",
    icon: "codicon:git-pull-request",
  },
  {
    title: "SAST. IaC. Secrets Scanning.",
    description:
      "Deploy secure infrastructure with DevArmor's IaC scanning. Find secrets in your code and prevent them from leaking.",
    icon: "fluent:scan-text-24-filled",
  },
  {
    title: "No Security Expertise Required",
    description:
      "DevArmor is designed for developers, and teams without dedicated AppSec staff.",
    icon: "fa-solid:rocket",
  },
  {
    title: "More Signal. Less Noise.",
    description:
      "Find issues such as authentication misconfiguration that traditional SAST tools cannot find.",
    icon: "zondicons:target",
  },
  {
    title: "Context-Driven Analysis.",
    description:
      "Proprietary algorithms analyze your code and threat model to provide more accurate results.",
    icon: "bx:bxs-data",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-4xl font-bold lg:tracking-tight">
    A Security Companion for Developers
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Start using DevArmor in minutes. <wbr />
    No need to configure complex security tools or learn new workflows.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
