<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} DevArmor. All rights reserved.
  </p>
  <p class="text-center text-sm text-slate-500 mt-2">
    <a href="/privacy-policy" class="hover:underline">Privacy Policy</a>
  </p>
</footer>
