---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-[3fr,2fr] place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="DevArmor Hero Image"
      widths={[200, 400, 600]}
      sizes="(max-width: 1200px) 100vw, 33vw"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-4xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
      Automate Security. <br />Accelerate Development.
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      DevArmor helps developers ship secure code faster, with embedded security
      companions in every step of development.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/contact"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="mdi:email" />
        Get Early Access
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://calendly.com/amir-devarmor/30min?month=2024-04"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-5 h-5" name="mdi:comment-account-outline" />
        Book a Demo
      </Link>
    </div>
  </div>
</main>
