---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="flex flex-col items-center justify-center text-center pt-48 pb-8 md:pt-32 md:pb-24">
  <div class="max-w-3xl">
    <h1
      class="text-4xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter leading-[1.6] text-gray-900 dark:text-white">
      The Fastest Way to<br />Secure Every Feature.
    </h1>
    <p class="text-lg mt-12 text-slate-600 dark:text-slate-300 leading-relaxed">
      Automated threat modeling, design review, and enforcement. <br />Built
      into your dev workflow: no delays, no security blind spots.
    </p>
    <div class="mt-16 flex flex-col sm:flex-row gap-3 justify-center">
      <Link
        href="/contact"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon name="mdi:email-open" />
        Get Early Access
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://calendly.com/amir-devarmor/30min?month=2024-04"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon name="mdi:comment-person" />
        Book a Demo
      </Link>
    </div>
  </div>
</main>
